body{
    background-color: #000461;
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#title{
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 150px;
}

#location{
    color: white;
}

#haveFunTxt{
    color: goldenrod;
}
